div {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 3px solid #cc0000;

  p {
    display: inline;
  }

  mat-icon {
    position: relative;
    top: 6px;
    cursor: pointer;
  }
}

