div {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/logo.png');
  background-color: #cc0000;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
