<mat-nav-list>
  <a mat-list-item (click)="openFrunk($event)">
    <span mat-line>Open Frunk</span>
  </a>
  <a mat-list-item (click)="openTrunk($event)">
    <span mat-line>Open Trunk</span>
  </a>
  <a mat-list-item (click)="ventWindow($event)">
    <span mat-line>Vent Window</span>
  </a>
  <a mat-list-item (click)="closeWindow($event)">
    <span mat-line>Close Window</span>
  </a>
  <a mat-list-item (click)="honkHorn($event)">
    <span mat-line>Honk Horn</span>
  </a>
  <a mat-list-item (click)="flashLights($event)">
    <span mat-line>Flash Lights</span>
  </a>
</mat-nav-list>
