<mat-card>
  <mat-card-header>
    <mat-card-title [ngClass]="vehicle?.state">{{vehicle?.display_name}} ({{vehicle?.state}})</mat-card-title>
    <mat-card-subtitle>ID: {{vehicle?.id_s}}</mat-card-subtitle>
    <mat-card-subtitle>VIN: {{vehicle?.vin}}</mat-card-subtitle>
    <mat-card-subtitle>Model: {{vehicle?.vehicle_config?.car_type}} - {{vehicle?.vehicle_config?.exterior_color}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!detailsButtonVisible(vehicle)">Mileage: {{vehicle?.vehicle_state?.odometer}}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="!detailsButtonVisible(vehicle)">
      Soft. Version: {{vehicle?.vehicle_state?.car_version}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image src="../../../assets/MDL3.png" alt="MDL3">
    <div class="model-description">
      <p>
        La Tesla Model 3 est une berline familiale haut de gamme et 100 % électrique, conçue et produite par le
        constructeur automobile américain Tesla, Inc.
        Présentée au public le 31 mars 2016, les 30 premières livraisons ont eu lieu le 28 juillet 2017 aux États-Unis.
        Il s'agit du quatrième modèle de voiture commercialisé par Tesla, après la Tesla Model X.
      </p>
    </div>
    <div class="sections">
      <section *ngIf="withDetails">
        <app-more-actions-label label="Lock state"
                                (clicked)="displayLockingActions(vehicle?.id_s)"></app-more-actions-label>
        <p class="section-item">Locked: {{vehicle?.vehicle_state?.locked}}</p>
      </section>
      <section *ngIf="withDetails">
        <app-more-actions-label label="Charge state"
                                (clicked)="displayChargeActions(vehicle?.id_s)"></app-more-actions-label>
        <p class="section-item">Charging state: {{vehicle?.charge_state?.charging_state}}</p>
        <p class="section-item">Battery level: {{vehicle?.charge_state?.battery_level}}%
          / {{vehicle?.charge_state?.charge_limit_soc}}%</p>
        <p class="section-item" *ngIf="vehicle?.charge_state?.charging_state === 'Charging'">Time to Full
          Charge: {{vehicle?.charge_state?.time_to_full_charge}} hours</p>
      </section>
      <section *ngIf="withDetails">
        <app-more-actions-label label="Drive state"></app-more-actions-label>
        <p class="section-item">Latitude: {{vehicle?.drive_state?.latitude}}</p>
        <p class="section-item">Longitude: {{vehicle?.drive_state?.longitude}}</p>
        <p class="section-item" *ngIf="speed">Speed: {{vehicle?.drive_state?.speed}}</p>
      </section>
      <section *ngIf="withDetails">
        <app-more-actions-label label="Climate state"></app-more-actions-label>
        <p class="section-item">Inside temperature: {{vehicle?.climate_state?.inside_temp}}°C</p>
        <p class="section-item">Outside temperature: {{vehicle?.climate_state?.outside_temp}}°C</p>
      </section>
      <section *ngIf="withDetails">
        <app-more-actions-label label="Sentry Mode"></app-more-actions-label>
        <p class="section-item">Sentry mode available: {{vehicle?.vehicle_state?.sentry_mode_available}}</p>
        <p class="section-item">Sentry mode activated: {{vehicle?.vehicle_state?.sentry_mode}}</p>
      </section>
      <section *ngIf="withDetails">
        <app-more-actions-label label="Speed Limit"></app-more-actions-label>
        <p class="section-item">Speed limit setting: {{vehicle?.vehicle_state?.speed_limit_mode.current_limit_mph}}
          MPH</p>
        <p class="section-item">Speed limit activated: {{vehicle?.vehicle_state?.speed_limit_mode.active}}</p>
      </section>
      <section *ngIf="withDetails">
        <app-more-actions-label label="Commands" (clicked)="displayMiscActions(vehicle?.id_s)"></app-more-actions-label>
        <p class="section-item">Other commands available for your vehicle.</p>
      </section>
    </div>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button mat-stroked-button (click)="vehicleDetailsClickHandler(vehicle?.id_s)"
            *ngIf="detailsButtonVisible(vehicle)">
      DETAILS
    </button>
    <button mat-stroked-button (click)="wakeUpVehicleClickHandler(vehicle?.id_s)"
            *ngIf="!vehicleOnline(vehicle)">
      WAKE UP VEHICLE
    </button>
  </mat-card-actions>
</mat-card>
