div {
  color: grey;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;

  img {
    max-width: 1000px;
    width: 100%;
  }

  p.model-description {
    max-width: 800px;
    text-align: left;
    margin: 30px auto;
    padding: 0 15px;
    line-height: 25px;
  }
}
