<div class="background-image"></div>

<div class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="formClickHandler()">
    <mat-form-field>
      <input autocomplete="off" formControlName="email" matInput placeholder="Please enter your email"
             required type="text">
    </mat-form-field>
    <mat-form-field>
      <input autocomplete="off" formControlName="password" matInput placeholder="Please enter your password"
             required type="password">
    </mat-form-field>

    <div class="action">
      <button [disabled]="!form.valid" color="accent" mat-flat-button type="submit">
        <mat-icon>fingerprint</mat-icon>
        VALIDATE
      </button>
    </div>
  </form>
</div>

<div class="top-action">
  <button mat-fab (click)="devClickHandler()">
    <mat-icon>build</mat-icon>
  </button>
</div>
