/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0 15px;
}

html, body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.devtool {
  position: absolute;
  top: 15px;
  right: 15px;
}

