/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin: 10px 0;
  line-height: 20px;
}

.devtool, .top-action {
  position: absolute;
  top: 15px;
  right: 15px;

  > button:not(:last-child) {
    margin: 0 10px;
  }
}

